<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<script src="https://unpkg.com/vue"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>

<body>
	<div id='app'>
		-----------Select All 호출-----------
		<template v-for="temp in info">
		<p>title: {{temp.title}}
		<p>body: {{temp.body}}
		<p>date: {{temp.created_at}}
		<p>aut: {{temp.authority}}
		<p>email: {{temp.email}}
		<p>idx: {{temp.idx}}
		<p>---------------------------------
		</template>

		<input type="text" v-model="search" />
		<!-- idx 값 전달을 위한 v-model -->
		
		<button v-on:click="deletet">Delete 삭제</button>
		<br> <input type="text" v-model="select" />
		
		<button v-on:click="selectfn">Select one 한개 선택</button>
		<p>--------------------여기는 셀렉트--------------------
		<p>title: {{oneinfo.title}}
		<p>body: {{oneinfo.body}}
		<p>date: {{oneinfo.created_at}}
		<p>aut: {{oneinfo.authority}}
		<p>email: {{oneinfo.email}}
		<p>idx: {{oneinfo.idx}}
		<p>---------------------------------
	
		<button v-on:click="add">update_email입력</button>
	</div>
</body>



<script src="//unpkg.com/vue"></script>
<script type="text/javascript">    
   var app=new Vue({
      el:'#app',
      data() {
         return {
            info : [],
            search : "",
            select : "",
            oneinfo : [],
            update: ""
         }
         },
      mounted : function(){
           {
         axios.get('http://localhost:8082/ass/api/portAll',{
            f_name : this.search
         })
         .then(response => (this.info = response.data))
         }
      },
      methods : {
         deletet : function(){
            axios.get('http://localhost:8082/ass/api/portDelect',{
               params : {
               idx : this.search //index 번호 axios로 sever로 보내줌
               }
            })
            .then(response => (this.info = response.data))
            },
         
            selectfn : function(){
               console.log("요기는 셀렉트 응답바란다.", this.oneinfo);
               axios.get('http://localhost:8082/ass/api/portSelect',{
                  params :{
                     idx : this.select
                  }
               })
               .then(response => (this.oneinfo = response.data))
            },
            
            add: function(){
            	axios.get('http://localhost:8082/ass/api/portUpdate'),{
            		params:{
            			
            		}
            	}
            }
         }
   })
</script>


</html>