<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ass.dao.PortFolioMapper">

	<select id="searchAllPort" resultType="portfolio">
		SELECT * FROM portfolio;
	</select>
	
	<select id="searchOncePort" parameterType="int" resultType="portfolio">
		SELECT * FROM portfolio WHERE idx=#{idx};
	</select>

	<delete id="deletePort"  parameterType="int">
		DELETE FROM portfolio WHERE idx=#{idx};
	</delete>
	
	<update id="updatePort" parameterType="portfolio">
		UPDATE portfolio SET title = #{title}, body = #{body}, created_at = default WHERE idx=#{idx}; 
	</update>
	
	<insert id="insertPort" parameterType="portfolio">
		INSERT INTO portfolio  values (#{title}, #{body}, default, #{email}, 0);
	</insert>
	<select id="countPortfolio" resultType="int">
		SELECT count(*) FROM portfolio
	</select>
</mapper>