<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ass.dao.PostMapper">
  	<select id="findAllPost" resultType="post"> 
        SELECT *FROM post
    </select>

	<select id="searchPost" parameterType="int" resultType="post">
		SELECT * FROM post WHERE idx=#{idx}
	</select>
	<insert id="addPost" parameterType="post"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO post VALUES (#{title},#{body},#{date},#{authority},#{User_id})
	</insert>
	
	<delete id="deletePost" parameterType="int">
		DELETE FROM post WHERE idx=#{idx}
	</delete>
	
	<update id="updatePost" parameterType="post">
		UPDATE post SET title=#{title},body=#{body} WHERE User_id=#{User_id}
	</update>
	<select id="countPost" resultType="int">
		SELECT count(*) FROM post
	</select>

</mapper>