<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ass.dao.PortFolioMapper">

	<select id="searchAllUser" resultType="portfolio">
		select * from portfolio;
	</select>

	<select id="searchOnceUser" parameterType="String" resultType="portfolio">
		select * from portfolio where email=#{email};
	</select>

	<delete id="deleteUser" parameterType="String">
		delete form portfolio
		where email=#{email};
	</delete>

	<update id="updateUser" parameterType="user">
		update portfolio set
		authority=#{authority} where email=#{email};
	</update>

	<insert id="insertUser" parameterType="user">
		insert into portfolio values (#{email}, default, #{authority}, 0);
	</insert>
</mapper>